body{
  font-family:$font;
  font-weight:300;
  font-size:15px
}

h1{
  color:#0c8da0;
  font-size:2em;
  font-weight:300
}

h2{
  font-size:1.5em;
  font-weight:300;
  margin-top:4%
}

h3{
  font-size:1.25em;
  font-weight:300;
  font-style:italic;
  margin-bottom:5px
}

h4{
  color:#0c8da0;
  font-weight:300;
  font-size:1.5em
}
