doctype
//
  |
  |   _  _    ___  _  _   
  |  | || |  / _ \| || |  
  |  | || |_| | | | || |_ 
  |  |__   _| |_| |__   _|
  |     |_|  \___/   |_|  
  |
  | This is the default 404 page.  
  | User agents that don't "Accept" HTML will see a JSON version instead.
  | You can customize the control logic for your needs in `config/404.js`
  |
  | Sails considers a request to be in a "404: Not Found" state when a user
  | requests a URL which doesn't match any of your app's routes or blueprints.  

html
  head
    title Page Not Found
    link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/styles/styles.css')
  body

    .fourohfour
      .ocean
        img.fishy(src="http://sailsjs.org/images/fishy4.png")

      .main
        h1 Something's fishy here.
        h2 The page you were trying to reach doesn't exist.
        p.help
          a(href="http://en.wikipedia.org/wiki/HTTP_404") Why
          |  might this be happening?
        
      .logo
        a(href="http://sailsjs.org")
          img(src="http://sailsjs.org/images/logo.png")
