extends ./layout

block title 
  | Dashboard
block body
  p Put dashboard content here when user is logged in

  h2 User Actions
  ul
    li
      a(href="/user/new", target="") Create new user
    li
      a(href="/user/update", target="") Update user
  hr
  h2 Produce Actions
  ul
    li
      a(href="/produce/new", target="") Create new produce
    li
      a(href="/produce/update", target="") Update produce
  hr
  h2 Backyard Actions
  ul
    li
      a(href="/backyard/new", target="") Create new backyard
    li
      a(href="/backyard/update", target="") Update backyard
