doctype html
html
  head
    title 
        block title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', type='text/css', href='/styles/styles.css')
    link(type='text/css', href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')
    
    block styles

  body
      script(type='text/javascript').
        setTimeout(function sunrise () {
          document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
        }, 0);

      .default-page
        .header
          h1#main-title.container
            | A brand new app.
          h3.container
            | You're looking at:
            code
              = view.pathFromApp + '.' + view.ext
        .main.container.clearfix
            block body

            // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
            // SCRIPTS
            script(src="/js/dependencies/sails.io.js")
            // SCRIPTS END

