doctype
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', type='text/css', href='/styles/styles.css')

    block styles

  body
    .top-bar
      .container.clearfix
        img.logo(src='http://sailsjs.org/images/sails-logo.jpg')
    .container.clearfix
      block body

    // A few key dependencies, linked in order

    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")
