extends ../layout
block title 
  | Register a new account
block body
  h2 Register
  form(id="new_user", method="get", action="/user/create")
    input(type="email" name="email" placeholder="email")
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    button(type="submit") Sign up
