extends ./../layout


block body
  // Default home page
  link(type='text/css', href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='/styles/styles.css')

  .header
    h1.header-title.back-link
      a(href='/welcome')
        span.fa.fa-chevron-left
    h1.header-title
      | Sign up
  .main.container.clearfix
    .signup-container
      button.button.facebook.large Sign up with Facebook
      p - or with email -
      form(id="new-user", method="get", action="/user/create")
        ul 
          li
            label 
              span.fa.fa-envelope
            input(type="email" name="email" placeholder="Email")
          li
            label 
              span.fa.fa-user            
            input(type="text" name="username" placeholder="Username")
          li
            label 
              span.fa.fa-lock          
            input(type="password" name="password" placeholder="Password")
        button(type="submit").button.large Log in
        p 
          a(href="") Terms and Conditions
          |, 
          a(href="") Privacy Policy