extends ../layout
block styles
  // Default home page
  // <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700' rel='stylesheet'/>
  link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')

block body
  .top-bar
    .container.clearfix
      img.logo(src="http://sailsjs.org/images/sails-logo.jpg")

  .container.clearfix
    .main
      h1#main-title Welcome
      h2 Getting started
      p Don't worry, we've got your back.
      .steps
        ul.getting-started
          li
            .sprite.one
            div
              h3 Get your API going.
              p
                | Run 
                span.boxy sails generate foo
                | .  This will create a model 
                span.boxy Foo
                |  and controller 
                span.boxy FooController
          li
            .sprite.two
            div
              h3 Lift your app.
              p
                | Run 
                span.boxy sails lift
                |  to start up your app.  If you visit 
                span.boxy http://localhost:1337/foo
                |  in your browser, you'll see a socket.io-compatible REST API was generated for your 'Foo' model.
          li
            .sprite.three
            div
              h3 Dive in and start building.
              p From here, you can modify your models, create custom controller methods as Express middleware, and create custom routes (routes are set up in 
                span.boxy config/routes.js
                | ).  Visit 
                a(href="http://sailsjs.org") the Sails website
                |  for more information on next steps.
      .delete
        .sprite You're looking at: 
          span.boxy views/home/index.jade
    .side-bar
      h4#new New to Sails?
      ul
        li
          a(href="http://sailsjs.org") Visit sailsjs.org
        li
          a(href="http://sailsjs.org/#!documentation") Documentation
      h4 Next Steps
      ul
        li.sprite.single_page
          a(target="_blank", href="http://sailsjs.org") Build a single page app
        li.sprite.traditional
          a(target="_blank", href="http://sailsjs.org") Build a traditional webapp
        li.sprite.realtime
          a(target="_blank", href="http://sailsjs.org") Build a realtime app
        li.sprite.api
          a(target="_blank", href="http://sailsjs.org") Build an API